{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

<input type="{% if type == 'integer' or type == 'decimal' %}number{%else %}text{% endif %}"
    name="{{inputId}}"
    value=""
    class="monospace form-control {% if '/' in inputId %}form-inline{% endif %}"
    {%if maxChars != 0 %}
        maxlength="{{maxChars}}"
        style="width:{{maxChars+1}}em"
    {% endif %}
    data-optional="{% if optional %}{{True}}{% else %}{{False}}{% endif %}"
/>