{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

<a href="" id="download-input-file-{{inputId}}" style="display:none; margin-bottom: 10px;" class="btn btn-info btn-block">{{ _("Click here to download the file you submitted previously") }}</a>

{% set allowed_exts= allowed_exts or default_allowed_file_extensions %}
{% set max_size= max_size or default_max_file_size %}
<input
        type="file"
        name="{{inputId}}"
        data-max-size="{{max_size}}"
        data-allowed-exts="{{ json(allowed_exts) }}"
        /><br/>

{{ _("Max file size:") }} {{  max_size | float | filesizeformat(true) }}<br/>
{{ _("Allowed extensions:") }} {{ ', '.join(allowed_exts) }}